<!DOCTYPE html>
<html lang="en">

<head>
    {{> head}}
</head>

<body class="container">
    <h1>Hello, there!</h1>
    <div class='container'>
        <button class="btn btn-info" id="leaguesBtn">Leagues</button>
        <button class="btn btn-info" id="teamsBtn">Teams</button>
    </div>
    <div class='container'>
        <ul id="dataList">

        </ul>

        {{> footer}}
    </div>
    {{> scripts}}
</body>

</html>